/******************************************************************
Site Name:
Author:

Stylesheet: Form Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.more-link {
  display: inline-block;
  border: none;
  border-radius: 10px;
  background: #8f4ec7;
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Work Sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1;
  padding: 1.36666em 2.5em;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
.more-link:hover {
  cursor: pointer;
  background: #68c5f9;
  text-decoration: none;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus,
.button:active,
.button:focus,
.more-link:active,
.more-link:focus {
  text-decoration: none;
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
  display: block;
  width: 100%;
  border: 2px solid #ebeef1;
  border-radius: 0;
  padding: .655em 1.5em;
  background: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  border-color: #8f4ec7;
  outline: none;
}

select {
  height: 56px;
}

textarea {
  width: 100%;
}

label {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-bottom: 1em;
  line-height: 1;
  display: inline-block;
}

form > * {
  margin-bottom: 1.875rem;
}

form > *:last-child {
  margin-bottom: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  margin-right: .5em;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  display: inline;
}

fieldset {
  padding: 1.5rem 2.5rem;
  border: 2px solid #ebeef1;
}

fieldset legend {
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "Work Sans", sans-serif;
  color: #2c3847;
  padding: 0 .5em;
  font-weight: 500;
}


/*--------------------------------------------------------------
# Grunion(?) field related
--------------------------------------------------------------*/
// Pulled from Getwid Theme. Not sure if needed or what it's related to.
.contact-form .grunion-field-wrap input[type='text'],
.contact-form .grunion-field-wrap input[type='email'],
.contact-form .grunion-field-wrap input[type='url'],
.contact-form .grunion-field-wrap textarea {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
}

.contact-form .grunion-field-wrap label {
  margin-bottom: 1em;
  font-weight: normal;
}

.contact-form .grunion-field-wrap label span {
  color: inherit;
}

.contact-form .contact-submit {
  margin-top: 2.5rem;
}